<style>
    .container {
    display: flex;
    align-items: center; /* Vertically center content */
    width: 50%;
    align-content: center;
    justify-content: center;
    margin-left: 25%;
    }

    h1{
        text-align: center;
    }
</style>



<h1>Kudala Bharani Kumar Reddy</h1>

<div class="container">
    <img src="https://images.spr.so/cdn-cgi/imagedelivery/j42No7y-dcokJuNgXeA0ig/0ccca526-0364-4717-b1c8-6845919c1feb/Profile_picture_(1)/w=1920,quality=80" alt="profile" width="300" height="300">
    <p>A Computer Science undergraduate from G Pulla Reddy Engineering College, I am driven by a relentless curiosity to explore new technologies and stay at the forefront of this rapidly evolving digital landscape. With skills in coding, web development, database management, content creation, and video editing. Join me on this exhilarating journey as we redefine the boundaries of innovation and unlock endless possibilities.</p>
</div>